{{ $currentPage := . }}
<aside class="nav-sg bg-lvl2 bg-light rounded doc-menu w-10">
    <nav role="navigation" class="navbar-sg-nav">
        <ul>
            {{ range .Site.Menus.docs.ByWeight }}
                <li class="{{cond (or ($currentPage.HasMenuCurrent "docs" .) (eq $currentPage.RelPermalink .URL)) "active-link-bg" ""}}">
                    <!-- {{ $currentPage.RelPermalink }}
                    {{ .URL }} -->
                    <a 
                        href="{{ cond .HasChildren "#" (print $.Site.LanguagePrefix .URL)}}" 
                        class="nav-sg-link {{ cond .HasChildren "menu-block-link" ""}} 
                            {{ cond (and (eq $currentPage.RelPermalink (print $.Site.LanguagePrefix .URL)) (not ($currentPage.HasMenuCurrent "docs" .))) "active-link-color" ""}}">
                        {{ .Name }}
                    </a>

                    {{- if .HasChildren }}
                        <ul class="{{cond ($currentPage.HasMenuCurrent "docs" . ) "" "d-none"}}">
                            {{- range .Children }}
                                <li>
                                    <a href="{{ cond .HasChildren "#" .URL}}" class="nav-sg-link {{ cond .HasChildren "menu-block-link" ""}} {{cond ($currentPage.IsMenuCurrent "docs" .) "active-link-color" ""}}">
                                        {{ .Name }}
                                    </a>
                
                                    {{- if .HasChildren }}
                                        <ul class="{{cond ($currentPage.HasMenuCurrent "docs" . ) "" "d-none"}}">
                                            {{- range .Children }}
                                                <li class="">
                                                    <a href="{{ .URL}}" class="{{cond ($currentPage.IsMenuCurrent "docs" .) "active-link-color" ""}} nav-sg-link">
                                                        {{ .Name }}
                                                    </a>
                                                </li>
                                            {{- end}}
                                        </ul>
                                    {{- end}}
                                </li>
                            {{- end}}
                        </ul>
                    {{- end}}
                </li>
            {{- end}}
        </ul>
    </nav>
</aside>